<!DOCTYPE html>
<html>
  <head>
    <title>Freenote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'index.tsx' %>

    <meta name="description" content="a job board for freelance musicians and contractors" />
    <meta name="title" property="og:title" content="Freenote" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/52534879408_558998e172_b.jpg" />
    <meta name="author" content="Sam Stout" />
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
